/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.w-100{
    width: 100%;
    background-color: pink;
}
.w-1140{
    width: 1140px;
    margin: auto;
   
}
.flex{
    display: flex;
    flex-wrap: wrap;

}
.box{
    width: 200px;
    height: 100px;
    background-color: black;
    margin: 15px;

}
@media max {
    .w-1140px{

    }
}
@media min() and max(){

}*/